// fonts
@import '_manoohicons';
@import '_googlefonts';

// other imports
@import '_variables';
@import '_menu';
@import '_cube';


html {
  height: 100%;
}

body {
  min-height: 100%;
  position:   relative;
  background-color: $c-background;
  font-family: $f-main;
}

a {
  color: $c-link;
  text-decoration: none;
}
