@import '../../Global/_googlefonts';
@import '../../Global/_variables';


html {
  height: 100%;
}

body {
  min-height:       100%;
  position:         relative;
  background-color: $c-background;
  font-family:      $f-main;
  padding: 0;
  margin:  0;
}

a {
  color:           $c-link;
  text-decoration: none;
}

.page-container {
  display:none;
}

.page-container.selected {
  display:inherit;
}

dt {
  float: left;
  clear: left;
  width: 20%;
  text-align: right;
  font-weight: bold;
  color: green;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 22%;
  text-align: left;
}
