@import '../../Global/_variables';

.info-page {
  text-align: center;
  width: 100%;
}

.info-page-content {
  margin: 2vh auto;
  border: 4px solid #fff;
  box-shadow: 0 0 0 5px black;
  box-sizing: border-box;
  padding:   2vmin;
  border-radius: 2vmin;
  background-color: black;
  width: $d-main-width;
  margin-bottom: 20vh;
}
.info-page-content > div {
  background-color: white;
  padding: 2vmin;
}
