/////// Colors
$c-orchid:       rgb(218, 112, 214);
$c-mediumorchid: rgb(186,  85, 211);
$c-darkorchid:   rgb(153,  50, 204);

$c-background: #CCC;
$c-link:       black;


/////// Dimensions
$d-main-width:  68vmin;
$d-main-cube:   50vmin;
$d-nav-item:     9vmin;
$d-nav-item-pad: 2vmin;

/////// Fonts
$f-heading: 'Leckerli One', cursive;
$f-main:    'PT Sans', sans-serif;
$f-menu:    'PT Sans Narrow', sans-serif;

///// CUBE
$alpha-front: 0.8;
$alpha-back:  0.5;
